{# copyright and footer links #}
<!--
<footer class="main">
    <div class="footer-top-area">
        <div class="container">
            <div class="row row-wrap">
                <div class="col-md-8">
                    <ul class="list list-social">
                        <li>
                            <a class="fa fa-facebook box-icon" href="#" data-toggle="tooltip" title="" data-original-title="Facebook"></a>
                        </li>
                        <li>
                            <a class="fa fa-twitter box-icon" href="#" data-toggle="tooltip" title="" data-original-title="Twitter"></a>
                        </li>
                        <li>
                            <a class="fa fa-google box-icon" href="#" data-toggle="tooltip" title="" data-original-title="Google"></a>
                        </li>
                    </ul>
                    <p>Facilisis neque taciti congue laoreet nullam magnis dis cras nostra scelerisque curabitur a etiam conubia libero conubia sociis felis arcu</p>
                </div>
                <div class="col-md-4">
                    <h5>Inscrivez-vous à la newsletter pour recevoir nos bons plans par email</h5>
                    <div class="box">
                        <form>
                            <div class="form-group mb10">
                                <label>E-mail</label>
                                <input type="text" class="form-control">
                            </div>
                            <p class="mb10">Massa quis donec quisque praesent faucibus aliquet</p>
                            <input type="submit" class="btn btn-primary" value="Sign Up">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright © 2016, <a href="/">bonplandansmaville.com</a>, All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>-->
