<div class="col-md-3 mt20">
<aside class="sidebar-left">
    <ul class="filter nav nav-tabs nav-stacked nav-coupon-category nav-coupon-category-left">
        <li class="active"><a data-filter="*" href="#"><i class="fa fa-ticket"></i>All<span>50</span></a>
        </li>
        <li><a data-filter=".test" href="#"><i class="fa fa-cutlery"></i>Food & Drink<span>33</span></a>
        </li>
        <li><a data-filter=".dev" href="#"><i class="fa fa-calendar"></i>Events<span>37</span></a>
        </li>
        <li><a data-filter=".paris" href="#"><i class="fa fa-female"></i>Beauty<span>39</span></a>
        </li>
        <li><a data-filter=".user" href="#"><i class="fa fa-bolt"></i>Fitness<span>38</span></a>
        </li>
        <li><a href="#"><i class="fa fa-headphones"></i>Electronics<span>30</span></a>
        </li>
        <li><a href="#"><i class="fa fa-image"></i>Furniture<span>33</span></a>
        </li>
        <li><a href="#"><i class="fa fa-umbrella"></i>Fashion<span>31</span></a>
        </li>
        <li><a href="#"><i class="fa fa-shopping-cart"></i>Shopping<span>45</span></a>
        </li>
        <li><a href="#"><i class="fa fa-home"></i>Home & Graden<span>39</span></a>
        </li>
        <li><a href="#"><i class="fa fa-plane"></i>Travel<span>48</span></a>
        </li>
    </ul>
    <!--<div class="sidebar-box">
        <h5>Filter By Price</h5>
        <input type="text" id="price-slider">
    </div>
    <div class="sidebar-box">
        <h5>Product Feature</h5>
        <ul class="checkbox-list">
            <li class="checkbox">
                <label>
                    <input type="checkbox" class="i-check">New <small>(50)</small>
                </label>
            </li>
            <li class="checkbox">
                <label>
                    <input type="checkbox" class="i-check">Ending Soon <small>(70)</small>
                </label>
            </li>
            <li class="checkbox">
                <label>
                    <input type="checkbox" class="i-check">Popular <small>(32)</small>
                </label>
            </li>
            <li class="checkbox">
                <label>
                    <input type="checkbox" class="i-check">Featured <small>(27)</small>
                </label>
            </li>
        </ul>
    </div>
    <div class="sidebar-box">
        <h5>When</h5>
        <ul class="checkbox-list">
            <li class="checkbox">
                <label>
                    <input type="checkbox" class="i-check">This Week <small>(60)</small>
                </label>
            </li>
            <li class="checkbox">
                <label>
                    <input type="checkbox" class="i-check">Next Week <small>(37)</small>
                </label>
            </li>
            <li class="checkbox">
                <label>
                    <input type="checkbox" class="i-check">Later <small>(23)</small>
                </label>
            </li>
        </ul>
    </div>
    <div class="sidebar-box">
        <h5>Location</h5>
        <ul class="checkbox-list">
            <li class="checkbox">
                <label>
                    <input type="checkbox" class="i-check">All <small>(657)</small>
                </label>
            </li>
            <li class="checkbox">
                <label>
                    <input type="checkbox" class="i-check">All Washington <small>(120)</small>
                </label>
            </li>
            <li class="checkbox">
                <label>
                    <input type="checkbox" class="i-check">NoMa <small>(13)</small>
                </label>
            </li>
            <li class="checkbox">
                <label>
                    <input type="checkbox" class="i-check">Chinatown <small>(32)</small>
                </label>
            </li>
            <li class="checkbox">
                <label>
                    <input type="checkbox" class="i-check">Penn Quarter <small>(53)</small>
                </label>
            </li>
            <li class="checkbox">
                <label>
                    <input type="checkbox" class="i-check">Adams Morgan <small>(21)</small>
                </label>
            </li>
        </ul>
    </div>-->
</aside>
</div>