{% extends '../layouts/default.html' %}

{% block main %}
  <h1><i class="{{ icon }}"></i> {{ title }} <span style="color:blue">{{ param }}</span></h1>
{% endblock %}


{% block weekly %}
    {% include 'weekly.html' %}
{% endblock %}

{% block content %}
    {% block aside %}
        {% include 'aside.html' %}
    {% endblock %}

  {% if (articles.length) %}
<div class="row row-wrap">
    {% for article in articles %}
      {% include 'article.html' %}
    {% endfor %}
</div>
    {% if (pages > 1) %}
      <ul class="pagination">
        {% autoescape false %}
          {{ createPagination(pages, page) }}
        {% endautoescape %}
      </ul>
    {% endif %}
  {% else %}
    <h4 class="muted">
      No articles.&nbsp;
      <a href="/">cherchez dans une autre région</a>
    </h4>
  {% endif %}
{% endblock %}
