{% extends '../layouts/default.html' %}

{% block main %}
<!--<div class="row">
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" id="searchText" name="searchText" placeholder="Je recherche">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="categorie" name="categorie" placeholder="Catégorie">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="region" name="region" placeholder="Région">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="ville" name="ville" placeholder="Ville">
    </div>
    <button type="submit" class="btn btn-primary">Rechercher</button>
  </form>
</div>-->
<h1><i class="{{ icon }}"></i> {{ title }} <span style="color:red">{{ param }}</span></h1>
{% endblock %}



{% block weekly %}
  {% include 'weekly.html' %}
{% endblock %}

{% block content %}
<!-- categories aside bar-->
{% block aside %}
  {% include 'aside.html' %}
{% endblock %}

<div id="isotope-container" class="row col-md-9">
{% if (articles.length) %}
  {% for article in articles %}
    {% include 'article.html' %}
  {% endfor %}

  {% if (pages > 1) %}
    <ul class="pagination">
      {% autoescape false %}
      {{ createPagination(pages, page) }}
      {% endautoescape %}
    </ul>
  {% endif %}
{% else %}
<h4 class="muted">
  No articles.&nbsp;
  <a href="/">cherchez dans une autre région</a>
</h4>
{% endif %}
  </div>
{% endblock %}
