{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div style="margin-right:25px" class="no-margin-right-md">
      <a href="/auth/facebook"
         class="social-btn" style="background-color:#3b5998"><em><i class="icon icon_facebook_fff"></i></em>  Facebook</a>
      <a href="/auth/google"
         class="social-btn" style="background-color:#d73d32"><em><i class="icon icon_google_plus_fff"></i></em> Google</a>
      <a href="/auth/twitter"
         class="social-btn" style="background-color:#00adef"><em><i class="icon icon_microsoft_fff"></i></em> Twitter</a>
    </div>

</div>
  <div class="col-md-6" style="border-left:5px solid  #09f">
    <div class="login">
      {% block auth %}{% endblock %}
    </div>
  </div>
</div>

{% endblock %}
